@import url('react-select.css');
body {
  padding-top: 50px;
}
.starter-template {
  padding: 40px 15px;
  text-align: center;
}
.control-label{
	color:#000;
}
fieldset.field-array legend{
	font-size: 100%;
	font-weight: 700;
}
.checkbox label{
	color:#000;
}
code{
	font-size: 100%;
	color: none;
}

#userActionsNavigation{
	float: left;
}

.user-ul{
	list-style: none;
	margin-left: -23%;
}
.panel-title {
    font-size: 19px !important;
}
.panel-heading {
    font-size: 19px !important;
}
.editViewButton{
	margin: 0.1em;
	height: 50%;
}
.button-submit{
	margin-top: 2em;
	margin-bottom: 2em;
	float: right;
}
table.table-list td{
	vertical-align: middle !important;
}