@import url('react-select.css');
body {
  padding-top: 50px;
}
.starter-template {
  padding: 40px 15px;
  text-align: center;
}
#content {
	margin-bottom: 3em;
}
.control-label{
	color:#000;
}
fieldset.field-array legend{
	font-size: 100%;
	font-weight: 700;
}
.checkbox label{
	color:#000;
}
code{
	font-size: 100%;
	color: none;
}

#userActionsNavigation{
	float: left;
}

.user-ul{
	list-style: none;
	margin-left: -23%;
}
.panel-title {
    font-size: 19px !important;
}
.panel-heading {
    font-size: 19px !important;
}
.editViewButton{
	margin: 0.1em;
	height: 50%;
}
.button-submit{
	margin-top: 2em;
	margin-bottom: 2em;
	float: right;
}
table.table-list {
	border: 1px solid rgb(221,221,221);
}
table.table-list th{
	font-size: 1.2em;
	text-align: center;
}
table.table-list td{
	vertical-align: middle !important;
	border: 1px solid rgb(221,221,221);
	text-align: center;
}
.right {
	float: right;
}
.breadcrumbs {
	margin-top: 1em;
	margin-bottom: 2em;
}
.changeImageButton{
	margin-bottom: 1em;
}
.imagePreview {
    margin-left: 0.6em;
}
.dropzoneEditNew {
	display: none;
}
ul.documentActions li.documentActions {
	float: left;
	list-style: none;
}
td.border4colspan {
	border-left: 0px !important;
	border-right: 0px !important;
}
.fade {
  opacity: 0;
  -webkit-transition: opacity 200ms linear -o-transition, opacity 200ms linear;
          transition: opacity 200ms linear;
}

.in {
  opacity: 1;
}